
@{
    ViewBag.Title = "plan";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="margin-top:10px;">plan</h1>

<p>
    Bienvenue Plan.

</p>

</br>
<h2>
    Détail Plan
</h2>

@{ 
    Html.RenderPartial("partielle1");

}




